<h1>Listing test_users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Password digest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_users.each do |test_user| %>
  <tr>
    <td><%= test_user.email %></td>
    <td><%= test_user.password_digest %></td>
    <td><%= link_to 'Show', test_user %></td>
    <td><%= link_to 'Edit', edit_test_user_path(test_user) %></td>
    <td><%= link_to 'Destroy', test_user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test user', new_test_user_path %>
