<%= form_for(@problem_prediction_list) do |f| %>
  <% if @problem_prediction_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem_prediction_list.errors.count, "error") %> prohibited this problem_prediction_list from being saved:</h2>

      <ul>
      <% @problem_prediction_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :problem_1_prediction %><br />
    <%= f.text_field :problem_1_prediction %>
  </div>
  <div class="field">
    <%= f.label :problem_1_pain_level_prediction %><br />
    <%= f.text_field :problem_1_pain_level_prediction %>
  </div>
  <div class="field">
    <%= f.label :problem_2_prediction %><br />
    <%= f.text_field :problem_2_prediction %>
  </div>
  <div class="field">
    <%= f.label :problem_2_pain_level_prediction %><br />
    <%= f.text_field :problem_2_pain_level_prediction %>
  </div>
  <div class="field">
    <%= f.label :problem_3_prediction %><br />
    <%= f.text_field :problem_3_prediction %>
  </div>
  <div class="field">
    <%= f.label :problem_3_pain_level_prediction %><br />
    <%= f.text_field :problem_3_pain_level_prediction %>
  </div>
  <div class="field">
    <%= f.label :interview_id %><br />
    <%= f.number_field :interview_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
