<p id="notice"><%= notice %></p>

<p>
  <b>Problem 1 prediction:</b>
  <%= @problem_prediction_list.problem_1_prediction %>
</p>

<p>
  <b>Problem 1 pain level prediction:</b>
  <%= @problem_prediction_list.problem_1_pain_level_prediction %>
</p>

<p>
  <b>Problem 2 prediction:</b>
  <%= @problem_prediction_list.problem_2_prediction %>
</p>

<p>
  <b>Problem 2 pain level prediction:</b>
  <%= @problem_prediction_list.problem_2_pain_level_prediction %>
</p>

<p>
  <b>Problem 3 prediction:</b>
  <%= @problem_prediction_list.problem_3_prediction %>
</p>

<p>
  <b>Problem 3 pain level prediction:</b>
  <%= @problem_prediction_list.problem_3_pain_level_prediction %>
</p>

<p>
  <b>Interview:</b>
  <%= @problem_prediction_list.interview_id %>
</p>


<%= link_to 'Edit', edit_problem_prediction_list_path(@problem_prediction_list) %> |
<%= link_to 'Back', problem_prediction_lists_path %>
