<div class="alert alert-info">
 <h3>Great! Almost there... Let's just make sure that we have the correct information that "<%= @project.name %>" is looking to verify:
 </h3>
 <br />

</div>


<h2> </h2>
<br >





<fieldset>
  
  <legend>Information Verification</legend>

  <div class="well">
     <p>The biggest problem you're going to address is <strong><%= @hypothetical_problem.description_1.downcase %></strong>.</p>
     <p>Currently, people are using <strong><%= @hypothetical_problem.predicted_solution_1_for_prob_1.downcase %></strong> , and/or <strong><%= @hypothetical_problem.predicted_solution_2_for_prob_1.downcase %></strong> , and/or <strong><%= @hypothetical_problem.predicted_solution_3_for_prob_1.downcase %></strong>  to solve this problem.</p>
     <p>A better solution to this problem for them is <strong><%= @hypothetical_problem.solution_importance_1.downcase %></strong>.</p>
     <p><em><%= link_to "Edit", href="#" %></em></p>
  </div>
  

  <div class="well">
     <p>The biggest problem you're going to address is <strong><%= @hypothetical_problem.description_2.downcase %></strong>.</p>
     <p>Currently, people are using <strong><%= @hypothetical_problem.predicted_solution_1_for_prob_2.downcase %></strong> , and/or <strong><%= @hypothetical_problem.predicted_solution_2_for_prob_2.downcase %></strong> , and/or <strong><%= @hypothetical_problem.predicted_solution_3_for_prob_2.downcase %></strong>  to solve this problem.</p>
     <p>A better solution to this problem for them is <strong><%= @hypothetical_problem.solution_importance_2.downcase %></strong>.</p>
     <p><em><%= link_to "Edit", href="#" %></em></p>
  </div>

  <div class="well">
     <p>The biggest problem you're going to address is <strong><%= @hypothetical_problem.description_3.downcase %></strong>.</p>
     <p>Currently, people are using <strong><%= @hypothetical_problem.predicted_solution_1_for_prob_3.downcase %></strong> , and/or <strong><%= @hypothetical_problem.predicted_solution_2_for_prob_3.downcase %></strong> , and/or <strong><%= @hypothetical_problem.predicted_solution_3_for_prob_3.downcase %></strong>  to solve this problem.</p>
     <p>A better solution to this problem for them is <strong><%= @hypothetical_problem.solution_importance_3.downcase %></strong>.</p>
     <p><em><%= link_to "Edit", href="#" %></em></p>
  </div>
  
  <div class="well">
     <p>The customer segments that you'll be targeting will be:</p>
     <p><strong><%= @customer_segment_prediction_list.customer_segment_1_prediction.capitalize %></strong> , and/or <strong><%= @customer_segment_prediction_list.customer_segment_2_prediction.downcase %></strong> , and/or <strong><%= @customer_segment_prediction_list.customer_segment_3_prediction.downcase %></strong>.</p>
     <p><em><%= link_to "Edit", href="#" %></em></p>
  </div>

</fieldset>



<ul class="pager well btn-large btn-primary">
  <li><%= link_to "Continue", href="#" %> 
  </li>
</ul>



