<% content_for :head do %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>

<h1>Testing out Bootstrap 2.1 with offset and AwesomeFont</h1>

<div class="row">
  <p>Regular Row:</p>
  <div class="span2">Span 2</div>
  <div class="span2 offset3">Span 2 offset 3</div>
  <div class="span3">Span 3</div>
</div>

<br />

<div class="row-fluid">
  <p>Fluid Row:</p>
  <div class="span2">Span 2</div>
  <div class="span2 offset3">Span 2 offset 3</div>
  <div class="span3">Span 3</div>
</div>

<div class="row-fluid">
  <div class="span12">
    Level 1 of column
    <div class="row-fluid">
      <div class="span4 offset2">Level 2 (span2 offset2)</div>
      <div class="span6">Level 2</div>
    </div>
  </div>
</div>

<div class="btn-group">
    <a class="btn btn-primary" href="#"><i class="icon-user"></i> User</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
        <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
        <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="i"></i> Make admin</a></li>
    </ul>
</div>

<ul class="nav nav-list">
  <li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
  <li><a href="#"><i class="icon-book"></i> Library</a></li>
  <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
  <li><a href="#"><i class="icon-cogs"></i> Settings</a></li>
</ul>

<a href="#"><i class="icon-github"></i></a>



<h1>Listing projects</h1>

<br />


<img src="http://i1070.photobucket.com/albums/u489/alwaysgreater/change_1_badge.png" border="0" alt="Always Greater Badge, Change 1">

<img src="http://i1070.photobucket.com/albums/u489/alwaysgreater/change_5_badge.png" border="0" alt="Always Greater Badge, Change 5">

<img src="http://i1070.photobucket.com/albums/u489/alwaysgreater/change_10_badge.png" border="0" alt="Always Greater Badge, Change 10">

<img src="http://i1070.photobucket.com/albums/u489/alwaysgreater/change_25_badge.png" border="0" alt="Always Greater Badge, Change 25">

<img src="http://i1070.photobucket.com/albums/u489/alwaysgreater/change_50_badge.png" border="0" alt="Always Greater Badge, Change 50">

<img src="http://i1070.photobucket.com/albums/u489/alwaysgreater/change_75_badge.png" border="0" alt="Always Greater Badge, Change 75">

<img src="http://i1070.photobucket.com/albums/u489/alwaysgreater/change_100_badge.png" border="0" alt="Always Greater Badge, Change 100">



<h2>This will be a testing area for modals...</h2>

<p>Project count: <%= @projects.count %></p>

<p id="first-project">This is the first project:<%= @projects.first.name %> <%= link_to "Kill it!!!", project_path(@projects.first), method: :delete %></p>

<br />

<p>How about starting a new project?</p>

<p>Enter the name of your product or service:</p>

<%= simple_form_for(@project, remote: true) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <button class="btn btn-success btn-large" type="submit">Submit</button>

<% end %>

<p>These are ALL the projects for Javascript testing:</p>

<div id="all-projects-for-testing">
  <%= render @projects %>
</div>



<br />
<br />


<%= render "modal_testing" %>


<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Launch demo modal</a>

<br />

<%= link_to "My Modal", "modal_testing" %>

<br />
<br />

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <%= div_for project do %>
    <tr>
      <td><%= project.name %></td>
      <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete, remote: true %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
