<p id="notice"><%= notice %></p>

<h2>Page that Provides Interview Choice for the Project Just Created</h2>

<p>
  <b>Project Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Create Problem Interview:</b>
  <%= "This is where we'll have a problem interview form rendered." %>
</p>

<p>
  <b>Create a Solution Interview:</b>
  <%= "This feature is coming soon." %>
</p>




<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
