<%= form_for([@interview, @customer_segment_prediction_list]) do |f| %>
  <% if @customer_segment_prediction_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_segment_prediction_list.errors.count, "error") %> prohibited this customer_segment_prediction_list from being saved:</h2>

      <ul>
      <% @customer_segment_prediction_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<fieldset>
  
  <legend>Enter Up to Three Customer Segments</legend>

  <br />
  
  <div class="field customer-segments">
    <%= f.text_field :customer_segment_1_prediction, :placeholder => "segment 1" %>
    <%= f.text_field :customer_segment_2_prediction, :placeholder => "segment 2 (optional)" %>
    <%= f.text_field :customer_segment_3_prediction, :placeholder => "segment 3 (optional)" %>
  </div>
  
  <div class="hidden field">
    <%= f.hidden_field :interview_id, :value => @interview.id %>
  </div>
  <div class="hidden field">
    <%= f.hidden_field :project_id, :value => @interview.project.id %>
  </div>
  
  <div class="form-actions">
    <%= f.submit "Submit", :class => "btn btn-primary btn-large"%>
  </div>

</fieldset>

<% end %>
