<%= simple_form_for([@interview, @interview_response]) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
    
    <div class="hidden-field">
         <%= f.hidden_field :interview_id, :value => @interview.id %>
    </div>
    
    <div class="hidden-field">
         <%= f.hidden_field :project_id, :value => @project.id %>
    </div>
    

    <%= f.input :customer_solution_1_for_prob_1 %>
    <%= f.input :customer_solution_2_for_prob_1 %>
    <%= f.input :customer_solution_3_for_prob_1 %>
    <%= f.input :other_solutions_for_prob_1 %>
    <%= f.input :solution_importance_for_prob_1 %>
    <%= f.input :customer_solution_1_for_prob_2 %>
    <%= f.input :customer_solution_2_for_prob_2 %>
    <%= f.input :customer_solution_3_for_prob_2 %>
    <%= f.input :other_solutions_for_prob_2 %>
    <%= f.input :solution_importance_for_prob_2 %>
    <%= f.input :customer_solution_1_for_prob_3 %>
    <%= f.input :customer_solution_2_for_prob_3 %>
    <%= f.input :customer_solution_3_for_prob_3 %>
    <%= f.input :other_solutions_for_prob_3 %>
    <%= f.input :solution_importance_for_prob_3 %>
    <%= f.input :problem_1_ranking %>
    <%= f.input :problem_2_ranking %>
    <%= f.input :problem_3_ranking %>
    <%= f.input :customer_segment_1 %>
    <%= f.input :customer_segment_2 %>
    <%= f.input :customer_segment_3 %>
    <%= f.input :other_customer_segments %>
    <%= f.input :additional_notes %>
    <%= f.input :possible_early_adopter %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
