<h1>Interview Responses</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.interview_response.interview_id", :default => t("activerecord.labels.interview_id", :default => "Interview_id")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @interview_responses.each do |interview_response| -%>
   <tr>
    <td><%= interview_response.id %></td>
        <td><%= link_to interview_response.interview_id, interview_response_path(interview_response) %>
    </td>
        <td><%= interview_response.created_at %></td>
    <td>
      <%= link_to "Show", interview_response_path(interview_response) %>
      <%= link_to "Edit", edit_interview_response_path(interview_response) %>
      <%= link_to "Destroy", interview_response_path(interview_response), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_interview_response_path, :class => 'btn btn-primary' %>
