<p id="notice"><%= notice %></p>

<p>
  <b>Interview:</b>
  <%= @interview_response.interview_id %>
</p>

<p>
  <b>Project:</b>
  <%= @interview_response.project_id %>
</p>

<p>
  <b>Contact:</b>
  <%= @interview_response.contact_id %>
</p>

<p>
  <b>Customer solution 1 for prob 1:</b>
  <%= @interview_response.customer_solution_1_for_prob_1 %>
</p>

<p>
  <b>Customer solution 2 for prob 1:</b>
  <%= @interview_response.customer_solution_2_for_prob_1 %>
</p>

<p>
  <b>Customer solution 3 for prob 1:</b>
  <%= @interview_response.customer_solution_3_for_prob_1 %>
</p>

<p>
  <b>Other solutions for prob 1:</b>
  <%= @interview_response.other_solutions_for_prob_1 %>
</p>

<p>
  <b>Solution importance for prob 1:</b>
  <%= @interview_response.solution_importance_for_prob_1 %>
</p>

<p>
  <b>Customer solution 1 for prob 2:</b>
  <%= @interview_response.customer_solution_1_for_prob_2 %>
</p>

<p>
  <b>Customer solution 2 for prob 2:</b>
  <%= @interview_response.customer_solution_2_for_prob_2 %>
</p>

<p>
  <b>Customer solution 3 for prob 2:</b>
  <%= @interview_response.customer_solution_3_for_prob_2 %>
</p>

<p>
  <b>Other solutions for prob 2:</b>
  <%= @interview_response.other_solutions_for_prob_2 %>
</p>

<p>
  <b>Solution importance for prob 2:</b>
  <%= @interview_response.solution_importance_for_prob_2 %>
</p>

<p>
  <b>Customer solution 1 for prob 3:</b>
  <%= @interview_response.customer_solution_1_for_prob_3 %>
</p>

<p>
  <b>Customer solution 2 for prob 3:</b>
  <%= @interview_response.customer_solution_2_for_prob_3 %>
</p>

<p>
  <b>Customer solution 3 for prob 3:</b>
  <%= @interview_response.customer_solution_3_for_prob_3 %>
</p>

<p>
  <b>Other solutions for prob 3:</b>
  <%= @interview_response.other_solutions_for_prob_3 %>
</p>

<p>
  <b>Solution importance for prob 3:</b>
  <%= @interview_response.solution_importance_for_prob_3 %>
</p>

<p>
  <b>Problem 1 ranking:</b>
  <%= @interview_response.problem_1_ranking %>
</p>

<p>
  <b>Problem 2 ranking:</b>
  <%= @interview_response.problem_2_ranking %>
</p>

<p>
  <b>Problem 3 ranking:</b>
  <%= @interview_response.problem_3_ranking %>
</p>

<p>
  <b>Customer segment 1:</b>
  <%= @interview_response.customer_segment_1 %>
</p>

<p>
  <b>Customer segment 2:</b>
  <%= @interview_response.customer_segment_2 %>
</p>

<p>
  <b>Customer segment 3:</b>
  <%= @interview_response.customer_segment_3 %>
</p>

<p>
  <b>Other customer segments:</b>
  <%= @interview_response.other_customer_segments %>
</p>

<p>
  <b>Additional notes:</b>
  <%= @interview_response.additional_notes %>
</p>

<p>
  <b>Possible early adopter:</b>
  <%= @interview_response.possible_early_adopter %>
</p>


<%= link_to 'Edit', edit_interview_response_path(@interview_response) %> |
<%= link_to 'Back', interview_responses_path %>
