
<label class="label"><%= t("activerecord.attributes.interview_response.interview_id", :default => t("activerecord.labels.interview_id", :default => "Interview")) %>:</label>
<p><%= @interview_response.interview_id %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.project_id", :default => t("activerecord.labels.project_id", :default => "Project")) %>:</label>
<p><%= @interview_response.project_id %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.contact_id", :default => t("activerecord.labels.contact_id", :default => "Contact")) %>:</label>
<p><%= @interview_response.contact_id %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_solution_1_for_prob_1", :default => t("activerecord.labels.customer_solution_1_for_prob_1", :default => "Customer solution 1 for prob 1")) %>:</label>
<p><%= @interview_response.customer_solution_1_for_prob_1 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_solution_2_for_prob_1", :default => t("activerecord.labels.customer_solution_2_for_prob_1", :default => "Customer solution 2 for prob 1")) %>:</label>
<p><%= @interview_response.customer_solution_2_for_prob_1 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_solution_3_for_prob_1", :default => t("activerecord.labels.customer_solution_3_for_prob_1", :default => "Customer solution 3 for prob 1")) %>:</label>
<p><%= @interview_response.customer_solution_3_for_prob_1 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.other_solutions_for_prob_1", :default => t("activerecord.labels.other_solutions_for_prob_1", :default => "Other solutions for prob 1")) %>:</label>
<p><%= @interview_response.other_solutions_for_prob_1 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.solution_importance_for_prob_1", :default => t("activerecord.labels.solution_importance_for_prob_1", :default => "Solution importance for prob 1")) %>:</label>
<p><%= @interview_response.solution_importance_for_prob_1 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_solution_1_for_prob_2", :default => t("activerecord.labels.customer_solution_1_for_prob_2", :default => "Customer solution 1 for prob 2")) %>:</label>
<p><%= @interview_response.customer_solution_1_for_prob_2 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_solution_2_for_prob_2", :default => t("activerecord.labels.customer_solution_2_for_prob_2", :default => "Customer solution 2 for prob 2")) %>:</label>
<p><%= @interview_response.customer_solution_2_for_prob_2 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_solution_3_for_prob_2", :default => t("activerecord.labels.customer_solution_3_for_prob_2", :default => "Customer solution 3 for prob 2")) %>:</label>
<p><%= @interview_response.customer_solution_3_for_prob_2 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.other_solutions_for_prob_2", :default => t("activerecord.labels.other_solutions_for_prob_2", :default => "Other solutions for prob 2")) %>:</label>
<p><%= @interview_response.other_solutions_for_prob_2 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.solution_importance_for_prob_2", :default => t("activerecord.labels.solution_importance_for_prob_2", :default => "Solution importance for prob 2")) %>:</label>
<p><%= @interview_response.solution_importance_for_prob_2 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_solution_1_for_prob_3", :default => t("activerecord.labels.customer_solution_1_for_prob_3", :default => "Customer solution 1 for prob 3")) %>:</label>
<p><%= @interview_response.customer_solution_1_for_prob_3 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_solution_2_for_prob_3", :default => t("activerecord.labels.customer_solution_2_for_prob_3", :default => "Customer solution 2 for prob 3")) %>:</label>
<p><%= @interview_response.customer_solution_2_for_prob_3 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_solution_3_for_prob_3", :default => t("activerecord.labels.customer_solution_3_for_prob_3", :default => "Customer solution 3 for prob 3")) %>:</label>
<p><%= @interview_response.customer_solution_3_for_prob_3 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.other_solutions_for_prob_3", :default => t("activerecord.labels.other_solutions_for_prob_3", :default => "Other solutions for prob 3")) %>:</label>
<p><%= @interview_response.other_solutions_for_prob_3 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.solution_importance_for_prob_3", :default => t("activerecord.labels.solution_importance_for_prob_3", :default => "Solution importance for prob 3")) %>:</label>
<p><%= @interview_response.solution_importance_for_prob_3 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.problem_1_ranking", :default => t("activerecord.labels.problem_1_ranking", :default => "Problem 1 ranking")) %>:</label>
<p><%= @interview_response.problem_1_ranking %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.problem_2_ranking", :default => t("activerecord.labels.problem_2_ranking", :default => "Problem 2 ranking")) %>:</label>
<p><%= @interview_response.problem_2_ranking %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.problem_3_ranking", :default => t("activerecord.labels.problem_3_ranking", :default => "Problem 3 ranking")) %>:</label>
<p><%= @interview_response.problem_3_ranking %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_segment_1", :default => t("activerecord.labels.customer_segment_1", :default => "Customer segment 1")) %>:</label>
<p><%= @interview_response.customer_segment_1 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_segment_2", :default => t("activerecord.labels.customer_segment_2", :default => "Customer segment 2")) %>:</label>
<p><%= @interview_response.customer_segment_2 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.customer_segment_3", :default => t("activerecord.labels.customer_segment_3", :default => "Customer segment 3")) %>:</label>
<p><%= @interview_response.customer_segment_3 %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.other_customer_segments", :default => t("activerecord.labels.other_customer_segments", :default => "Other customer segments")) %>:</label>
<p><%= @interview_response.other_customer_segments %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.additional_notes", :default => t("activerecord.labels.additional_notes", :default => "Additional notes")) %>:</label>
<p><%= @interview_response.additional_notes %></p>

<label class="label"><%= t("activerecord.attributes.interview_response.possible_early_adopter", :default => t("activerecord.labels.possible_early_adopter", :default => "Possible early adopter")) %>:</label>
<p><%= @interview_response.possible_early_adopter %></p>

<div class="form-actions">
<%= link_to "Back", interview_interview_response_path(@interview), :class => 'btn'  %>
<%= link_to "Edit", interview_interview_response_path(@interview), :class => 'btn' %>
<%= link_to "Delete", interview_interview_response_path(@interview), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>
