<!DOCTYPE html>
<html>
<head>
  <title>Lean Interview</title>  
  <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
  <!--[if lt IE8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif] -->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> 
</head>
<body>
  
  <div id="container">
    
    <header>
      <h1><%= link_to "Lean Interview", pages_home_path %></h1>
      <% if logged_in? %>
        <ul>
          <li><%= link_to "Sign Out", sessions_destroy_url, :method => :delete %></li>
          <li class="btn"><%= link_to "My Account", user_url(current_user) %></li>
        </ul>
        <p>Hello, <%= current_user.email %> </p>
      <% else %>
        <ul>
          <li><%= link_to "Sign In", sessions_new_url %></li>
          <li class="btn"><%= link_to "Sign Up", new_user_url %></li>
        </ul>
      <% end %>
      <div class="clear"></div>
    </header>
    
    
    
  
    <%if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <%end%>
    
    <%if flash[:error] %>
      <p id="error"><%= flash[:error] %></p>
    <%end%>
  

    <%= yield %>
  
  </div>

</body>
</html>
